body {
    font-family: Garamond, serif;
    text-align: center;
}

header {
    background-color: #ffccdd;
    padding: 20px;
    color: #3b3da2;
}

header h1 {
    margin: 0;
    font-size: 48px;
    color: #3b3da2;
}

header p {
    margin: 10px 0;
    font-size: 22px;
}

nav {
    background-color: #3780da;
    padding: 10px;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: rgb(249, 89, 223);
    text-decoration: underline;
}

main {
    padding: 20px;
}

h2.overlay-text{
    font-size: 27px;
    background-color: rgba(255, 255, 255, 0.596);
    color: darkred;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    backdrop-filter: blur(2px);
}

h2.overlay-text{
    font-size: 27px;
    background-color: rgba(255, 255, 255, 0.596);
    color: darkred;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    backdrop-filter: blur(2px);
}

main p{
    color: black;
    font-size: 22px;
}

form {
    max-width: 500px;
    margin: auto;
    text-align: left;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3780da;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(249, 89, 223);
}

iframe {
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #3780da;
    padding: 15px;
    color: #ffffff;
    margin-top: 20px;
}