body {
    font-family: Garamond, serif;
    text-align: center;
}

header {
    background-color: #ffccdd;
    padding: 20px;
    color: #3b3da2;
}

header h1 {
    margin: 0;
    font-size: 48px;
    color: #3b3da2;
}

header p {
    margin: 10px 0;
    font-size: 22px;
}

nav {
    background-color: #3780da;
    padding: 10px;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: rgb(249, 89, 223);
    text-decoration: underline;
}

main.overlay-text{
    font-size: 27px;
    background-color: rgba(255, 255, 255, 0.596);
    color: darkred;
    padding: 14px;
    display: inline-block;
    border-radius: 10px;
    backdrop-filter: blur(2px);
}

p{
    color: black;
}

h2 {
    color: darkred;
}

ul {
    list-style: none;
    padding: 0;
    color: black;
    
}

img {
    width: 300px;
    height: 200px;
    margin: 10px;
    padding: 5px;
    border: 3px solid darkred;
    border-radius: 10px;
}

iframe {
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #3780da;
    padding: 15px;
    color: #ffffff;
    margin-top: 20px;
}