body {
  font-family: Garamond, serif;
  text-align: center; 
}

header {
  background-color: #ffccdd;
  color: #3b3da2;
  padding: 15px;
}

header h1 {
  margin: 0;
  font-size: 48px;
  color: #3b3da2;
}


header p {
  margin: 10px 0;
  font-size: 22px;
}

nav {
  background-color: #3780da;
  padding: 10px;
}

nav a {
  font-size: 18px;
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: rgb(249, 89, 223);
  text-decoration: underline;
}


.states {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}


.state-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  padding-bottom: 20px;
}

.state-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.state-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.state-card h2 {
  margin: 15px 0 10px;
  color: #0d6efd;
  font-size: 30px;
}

.state-card p {
  padding: 0 10px;
  color: #333;
  font-size: 23px;
}

footer {
  background-color: #3780da;
  padding: 15px;
  color: #ffffff;
  margin-top: 20px;
}

  